:root{
  --blueblack-clr: #485c7b;
  --nav-clr: #516fa9;
  --footer-clr: #c1d6f5;
  --white-clr: white;
  --hover-clr: orangered;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  height: 100px;
  min-height: 5rem;
  width: 100%;
  background-color: var(--nav-clr);
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
nav{
  display: flex;
  align-items: center;
  height: inherit;
  width: 100%;
  height: inherit;
}
.logo{
  width:100px;
  height: 100px;
  object-fit: cover;
}
.logo > img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.name{
  margin-left: 1rem;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: translate 1s;
}
.name{
  animation: bounce 3s  infinite ease-in-out;
}

@keyframes bounce{
  0%{transform: translateY(0);}
  50%{transform: translateY(-10px);}
  100%{transform: translateY(0);}
}
.menu{
  display: flex;
  margin-left: 100px;
  width: 60%;
  height: inherit;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  border-left: solid 2px blueviolet;
}
.menu > li > a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: color 1s;
}
.menu > li > .active{
  color: pink;
  font-weight: bolder;
  font-size: 25px;
}
.menu > li > a:hover{
  color: var(--hover-clr);
}body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*section*/
section{
  height: 90vh;
  width:100%;
  padding-top: 2rem;
  display: flex;
  padding: 1rem; 
  background-color: var(--blueblack-clr);
}
.personal-blog{
  height: inherit;
  width: 340px;
  border-right:  1px solid #516fa9 ;
}
.image{
  height: 30%;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--nav-clr);
  margin-bottom: 2rem;
}
.image > img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100px;
}
.text{
  width: 90%;
  height: 350px;
  box-shadow: 0px 0px 4px palevioletred;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}
.text > h4{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c1d6f5;
  height: 25px;
  font-size: larger;
}
.text > h4 >  i{
  margin-left: 1rem;
}
.text > p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.blog-nickie{
  transition: opacity 1s, translate 1s;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  animation: slidedown 2s infinite linear;

}
.blog-name{
  transition: opacity 1s, translate 1s;
  animation: slideup 2s infinite linear;
}
.text > p > span{
  position: absolute;
  left: 80px;
}
@keyframes slideup {
  50%{
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slidedown {
  50%{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
  }
  100%{
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
  }
}

.lang-list > li {
  list-style: none;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
.lang-list > li:nth-child(1){
  width: 90%;
  background-color: greenyellow;
  padding-left: 1rem;
  border-radius: 10px;
}
.lang-list > li:nth-child(2){
  width: 91%;
  background-color: orange;
  padding-left: 1rem;
  border-radius: 10px;
}
.lang-list > li:nth-child(3){
  width: 80%;
  background-color:salmon;
  padding-left: 1rem;
  border-radius: 10px;
}
.lang-list > li:nth-child(4){
  width: 60%;
  background-color:coral;
  padding-left: 1rem;
  border-radius: 10px;
}
.lang-list > li:nth-child(5){
  width: 60%;
  background-color: royalblue;
  padding-left: 1rem;
  border-radius: 10px;
}
.show-hidden{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-clr);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #516fa9;
  display: none;
  animation: swipe 3s infinite linear;
  transition: transform 2s;
  cursor: pointer;
}

@keyframes swipe {
  25%{
    transform: translateX(-2px);
  }
  50%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0px);
  }
}

.project-page{
  height: 98.1%;
  width: 80%;
  background-color: var(--footer-clr);
  margin-left: 1rem;
  padding-left: 1rem;
}
.search-bar{
  width: inherit;
  display: flex;
  height: 100px;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
}
.search-bar > input{
  height: 30px;
  width: 300px;
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  outline: none;
  border: none;
  background-color: var(--blueblack-clr);
  color: var(--white-clr);
  padding-left: 2rem;
  font-size: larger;
}
.search-bar > input::placeholder{
  color: var(--white-clr);
}
.search-bar > span{
  background-color: var(--blueblack-clr);
  height: 30px;
  width: 30px;
  text-align: center;
  border-left: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items:  center;
  cursor: pointer;
}
.search-bar > span:hover{
  opacity: 0.5;
}
.projects{
  height: 80%;
  width: 98%;
  overflow: hidden;
  background-color: var(--blueblack-clr);
  padding: 1rem;
  position: relative;
}
.slider{
  height: 80%;
  width: inherit;
  display: grid;
  grid-template-columns: 40% 40% 40% 40% 40%;
  column-gap: 1rem;
  grid-template-rows: 100%;
  cursor: pointer;
  position: absolute;
  transition: left 1s;
}
.items{
  background-color: aqua;
  height: 340px;
  width: 100%;
  position: relative;
  transition: transform 2s;
}
.items:hover{
  transform: scale(0.7);
}
.back, .forward{
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: var(--nav-clr);
  opacity: 0.5;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  color: var(--white-clr);
  top: 50%;
  cursor: pointer;
}
.forward{
  left: 90%;
}
.back{
  left: 5%;
  
}
.hidden{
  display: none;
}
.icon-space{
  height: 340px;
  width: 100%;
  margin-bottom: 1rem;

}
.description-space{
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--footer-clr);
}
.description-space > h3{
  font-size: medium;
}
.items> a{
  text-decoration: none;
  color: black;
}
.icon-space > img{
  height: inherit;
  width: inherit;
  object-fit: cover;
}
/*footer*/
footer{
  height: 100px;
  width: 100%;
  background-color: var(--nav-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.social-media > i{
  font-size: x-large;
  margin-left: 1rem;
}

/*resopnsive*/
@media (max-width: 412px){
  .header{
    height: 120px;
  }
  .menu {
    display: flex;
    height: inherit;
    flex-direction: column;
    width: 40%;
    padding: 0px;
  }
  .menu > li > a{
    font-size: 12px;
  }
  
  .active{
    font-size: small;
  }
  .name{
    font-size: medium;
    width: 50px;

  }


  .social-media > i{
    font-size: 10px;
    margin-left: 0;
  }

}
@media (max-width: 414px) {
  .logo{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 375px){
  .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 1px;
  }
  .logo > img{
    height: inherit;
    width: inherit;
  }
  .name{
    margin-left: 0rem;
    font-size: 15px;
    padding: 0px;
    
  }
  .menu {
    display: flex;
    height: inherit;
    flex-direction: column;
  }
  .menu > li > a{
    font-size: 12px;
  }
  .active{
    font-size: medium;
  }
  footer{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .social-media > i{
    font-size: 10px;
    margin-left: 0;
  }
}

@media (max-width: 515px) {
 
  .personal-blog{
    height: inherit;
    width: 255px;
    border-right:  1px solid #516fa9 ;
  }
  .text{
    width: 78%;
    height: 350px;
    box-shadow: 0px 0px 4px palevioletred;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
  }
  .lang-list > li{
    font-size: small;
    padding-left: 0px;
  }
}
@media (max-width: 768px) {
  .header{
    height: 120px;
  }
  footer{
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 10px;
  }
  .social-media > i {
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  .header{
    height: 120px;
  }
  .menu {
    display: flex;
    height: inherit;
    flex-direction: column;
  }
  .menu > li > a{
    font-size: 12px;
  }
  .active{
    font-size: medium;
  }
  .social-media > i{
    font-size: 10px;
    margin-left: 0;
  }
}
@media (max-width: 430px){
  .header{
    height: 120px;
  }
  .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 1px;
  }
  .menu{
    flex-direction: column;
  }
  .logo > img{
    height: inherit;
    width: inherit;
  }
  .show-hidden{
    display: flex;
  }
  .project-page{
    display: none;
  }
}

@media (max-width: 540px){
  .header{
    height: 120px;
  }
  .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 1px;
  }
  .logo > img{
    height: inherit;
    width: inherit;
  }
  .menu {
    display: flex;
    height: inherit;
    flex-direction: column;
  }
  .menu > li > a{
    font-size: 12px;
  }
  .active{
    font-size: medium;
  }
  .show-hidden{
    display: flex;
  }
  .project-page{
    display: none;
  }
}

@media (max-width: 700px){
  .header{
    height: 120px;
  }
  .logo {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 1px;
  }
  .logo > img{
    height: inherit;
    width: inherit;
  }
  .menu {
    display: flex;
    height: inherit;
    flex-direction: column;
  }
  .menu > li > a{
    font-size: 12px;
  }
  .active{
    font-size: medium;
  }
  .show-hidden{
    display: flex;
  }
  .project-page{
    display: none;
    width: 100%;
  }
  .search-bar{
    margin-left: 1rem;
  }
  .search-bar > input{
    height: 30px;
    width: 150px;
  }
}
